################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Special/Software Project Design and Development/Lab Project/DICOMViwer/.vs/DICOMViwer/v17
/Special/Software Project Design and Development/Lab Project/DICOMViwer/.vs/DICOMViwer/FileContentIndex
/Special/Software Project Design and Development/Lab Project/DICOMViwer/ViwerWebApp/bin/Debug/net8.0
/Special/Software Project Design and Development/Lab Project/DICOMViwer/ViwerWebApp/obj
*.user
/Special/Software Project Design and Development/Lab Project/DICOMViwer/.vs
/Special/Artificial Intelligence Lab/Lab Project/PuzzleGame/.vs/PuzzleGame
/Special/Artificial Intelligence Lab/Lab Project/PuzzleGame/.vs/ProjectEvaluation
/Special/Artificial Intelligence Lab/Lab Project/PuzzleGame/bin/Debug
/Special/Artificial Intelligence Lab/Lab Project/PuzzleGame/obj
/Special/Artificial Intelligence Lab/Lab Project/TilesCretor/bin/Debug
/Special/Artificial Intelligence Lab/Lab Project/TilesCretor/obj/Debug
/Special/Artificial Intelligence Lab/Lab Project/PuzzleGame/packages
/Special/Artificial Intelligence Lab/Lab Project/PuzzleGame/bin/Release
/Special/Artificial Intelligence Lab/Lab Project/TilesCretor/obj/Release
/Special/Artificial Intelligence Lab/Lab Project/TilesCretor/bin/Release
/Special/Artificial Intelligence Lab/Lab Project/TilesCretor/bin/Release
/Special/Artificial Intelligence Lab/Lab Project/HumanPuzzle/bin/Debug
/Special/Artificial Intelligence Lab/Lab Project/HumanPuzzle/obj
