<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Digital Web Xray</title>
    <link href="~/lib/jquery/dist/jquery-ui.min.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/all.min.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/lib/kendo/kendo.default-purple.min.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/lib/themify-icons/themify-icons.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/lib/lobipanel/lobipanel.min.css" rel="stylesheet" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true" />
    <link href="~/lib/sweetalert/sweetalert.css" rel="stylesheet" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ViwerWebApp.styles.css" asp-append-version="true" />
    <script src="~/js/hammerjs.js" asp-append-version="true"></script>
    <script src="~/js/cornerstonemath.js" asp-append-version="true"></script>
    <script src="~/js/cornerstone.js" asp-append-version="true"></script>
    <script src="~/js/cornerstonewebimageloader.js" asp-append-version="true"></script>
    <script src="~/js/cornerstonetools.js" asp-append-version="true"></script>
</head>
<body>
   
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery/dist/jquery-ui.min.js"></script>
    <script src="~/lib/sweetalert/sweetalert.min.js" asp-append-version="true"></script>
    <script src="~/lib/parsley/parsley.min.js" asp-append-version="true"></script>
    <script src="~/lib/kendo/kendo.all.min.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/lobipanel/lobipanel.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
